@{
    ViewData["Title"] = "Book Not Found -";
}

<div class="displayClass">
    <div>
        <img class="notFoundImage" src="https://lh3.googleusercontent.com/_6zk0yHZjQiMvCxOgiX_Hs7cbGKw2kkdNYW6YubSTFCFh34H9WYWXVxvO1w2uNf8hBq5LPOICyzhMA92MEv5jJ-3ohiaix8i7SzPbiXruFAQZmu119N7YPwsYoGwYWIFjC-2w3SS4fl9qTObKNe6nv-00qPbYhsnwLcqKzIh1PNHMz83nIesEpGlqCXGs7vA_l1AUz5D-S22M_0bS1sJaof9kTIRgzi3XTRnURJmdHZf4LYyvmqmJXTt2SGubLnTK1QJPXa_jwuDWjCu7dcuYg62OMqG9owyZxi2B1EVkDMTWGQA5SNniFchO6rVIWpm3GN_cK3Lg3SJ0v45DQq2JLZ46O10MasnjqAIzG4V3a1YS6JZ1NpEt0zTD7JiX_ea3skiw-OhFt-kGEcOlQMjMoy8AjFPcvLU_19p7jfpGpXdpmOSYjQyf2uE-VNrlt5eshTZjU7DEKWgZqk5JVt7SHOu376vuAYliEc1GiBVhodg8uOuzARO67nHOzqWAQ_LO1KzkMC6J6kuXxH0poyEKR0STsyiIOhugfU4hBlB7ebbAFn0D04wINF1VeSuVqcjK0RjDsVf3JcnjloTn1hwRmFM6YKD-QJkYpPUFzQ=w996-h599-no" alt="not found png">
    </div>
    <div class=" notFoundClass">
    </div>
</div>
