<div>
    <div class="accessDenied">
        <img src="https://lh3.googleusercontent.com/v8Xb-xHskVcgeOjoiZ5C0XtB_qSCjPhKKkASv1ZurcyIpRIj3pF6VVK_xcxYHkEXp2vzEgWJAed1y-kVwPqCvJPe6SajUd0_mKMJ0jWHtgeqjLmQ7Ru4feUQ5gygp_4ilVWRW3r05oaN6bK7ObKEQ_alKX_aPW_zDT4KFL92imfVuM8RxGg1BPXJyKNGGSbLOGTGiO3HeCZ14D0tvvGdLRa2ZIvrpQZhxC-unmJ_0e9hv0CJseIA29yx-0CbzeiP2ovmVXb2gGrHxfNxwLnF46vxPn8yVzeO76zvMIalK4Me9KKEWWRhYhGEwlagLzFsQxw9bySk9JQrX7gGZNIeyfDo4_fYeVTUDfBFgdaCrxakAT5zgmZAb3mS530PdCPa-HnIXlsogMIFMTfPDTPYvM_f464engAjUM03dYPzqKxApKM5ijFTDtnsg-_l7O5ZuWfGKn-U6Lko8qC5LfurR2Z1Y36H5V8xAgGCayx7eANPEwr-_NkSeI4n88pZ2k-sxqvVAfbBFx5gGSa1WObHfjdu5cReqgYlc6iaNyFNcckvs54N_z1zCp40P9d7pWPFO3w8gRfxcbQ0osL2mACDm_ki5GayEFiUtcUCpbM=w996-h599-no" alt="log in fail">
    </div>
    <h1>You cannot access this webpage</h1>
    <h1>You are not logged in.</h1>
    <h2>Please <a asp-controller="Account" asp-action="Login">log in</a> or <a asp-controller="Account" asp-action="Register">register</a> to view profile</h2>
</div>