<div>
    <div class="accessDenied borderClass">
        <img id="stopImage" src="https://lh3.googleusercontent.com/gf1Ml8hH4-sSyPzqSyS-VRX7924tVb4a1RhDa48a7SDSWu43vrUtytIoR3CrZ0uTJanvsM6HyXmtPYtwXxkZVAAOxk4LceSf5HIRiMPE8oTL1KxH1iPZpiS0clOJaJb8CLP_hBJ0zvLi6vAYSFPlopGE5KtH57mMQ_AlNZd1Pg6M9d-hhP9wN9UVbL_s-J6JaVCTBoLL3HCSSyM6GNODoitVynorJz9WLBJriKZ5AEriFjj_0cnaOuQhQaw9FVCwsXotXYJ2gr8sAI9BYXYRcL8uR7nA-Fy7i13YAJZUnembrPFmedjCuazR60pRJooAm_PoG7u0Mk1Em0eJfm-PbY_5IKdd3GjTaUJy4uGVo3gArhqFPg3DZdDxcly6gSFx6j67nfaqphpivk5Gzk4856m9OTj3bx4Phi-erdxxueSRowacV_jE5aQWEpEyZbba0Jii7rUTxZCnM0PAaXR9ufZOMGjJZmRx3RSwdFI4fT7tz2bOlP2iZlzSfKKOM_Bm46Qd9nX2hiw3BBkaqvRXtjfKA-U8dHEyaiMU_TLsZfJ_Xe_uvNJyrwo_MGQHeQxncTyyWgbLTJcA0jIQ4NjTHEzTC-lHdZvWRXTBFHI=w996-h599-no" alt="log in fail">
        <div class = "accessHtag">
            <h1>You cannot access this webpage</h1>
            <h1>You are not logged in.</h1>
            <h2>Please <a asp-controller="Account" asp-action="Login">log in</a> or <a asp-controller="Account" asp-action="Register">register</a> to view profile</h2>
        </div>    
     </div>
</div>