@model BookCave.Models.ViewModels.EditViewModel
<head>
<link href="@Url.Content("~/css/base.css")" rel="stylesheet" type="text/css" />

</head>


<div id="Edit">
    <form class="border border-dark"  asp-action="Edit" asp-controller="Account" class="form-horizontal">
        <fieldset>
            <legend>Edit user info</legend>
            <div class="form-group">
                <label for="fName">Name: </label>
                <input id="fName" type="text" asp-for="Name" class="form-control" placeholder="Enter name"/>
            </div>
          
            <div class="form-group">
                <label for="input-Address">Address: </label>
                <input id="input-Address" type="text" asp-for="Address" class="form-control" placeholder="Enter address"/>
            </div> 
            <div class="form-group">
                <label for="input-Image">Image: </label>
                <input id="input-Image" type="text" asp-for="Image" class="form-control" placeholder="Enter URL for image"/>
            </div>
            <div class="form-group">
                <label for="input-favoriteBook">Favorite Book: </label>
                <input id="input-favoriteBook" type="FavoriteBook" asp-for="FavoriteBook" class="form-control" placeholder="Enter your favorite book"/>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>