@model BookCave.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login -";
}

@if(SignInManager.IsSignedIn(User))
{
    <h1>You are already signed in!</h1>
    <h2>Click <a asp-controller="Home" asp-action="FrontPage">here</a> to look at some great books!</h2>
}
else
{
<div>
    <h1 class="loginTop">Login</h1>
    <div class="log borderClass">
        <form asp-action="Login" asp-controller="Account">
            <!--Username?-->
            <div class="form-group">
                <input type="email" asp-for="Email" class="form-control" placeholder="Enter email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Dont have an account? <a asp-action="Register" asp-controller="Account">Register here</a></p>
            </div>
            <div class="form-group">
            <input type="checkbox" asp-for="RememberMe"> Remember me?
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Login</button>
                <button class="btn" type="back"><a asp-action="FrontPage" asp-controller="Home">Back</a></button>
            </div>
        </form>
    </div>
</div>
}