@model BookCave.Models.ViewModels.LoginViewModel

<body class="background">
    <h1 class="loginTop">Login</h1>
    <div class="log margBottom borderClass">
        <form asp-action="Login" asp-controller="Account">
            <!--Username?-->
            <div class="form-group">
                <input type="email" asp-for="Email" class="form-control" placeholder="Enter email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                Dont have an account? <a asp-action="Register" asp-controller="Account">Register here</a>
            </div>
            <div class="form-group">
            <input type="checkbox" asp-for="RememberMe"> Remember me?
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/base.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>