@model BookCave.Models.ViewModels.BookDetailsViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager
<body class="background">
@if(SignInManager.IsSignedIn(User))
{


    var name = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
    var email = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Email")?.Value;
    var address = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Address")?.Value;
    var image = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Image")?.Value;
    var favoriteBook = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "FavoriteBook")?.Value;

    <div class="profile">
    <h1>@name&#39s Profile</h1><br>
    <!-- Ef notandi hefur ekki sett inn mynd-->
    @if(image != null)  
    {
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" alt="Profile pic" width="200" height="auto">
    }
    else
    {
        <img src="@image" alt="Profile pic">
    }
    <br>
    <h2>Address: @address</h2>
    <h2>Email: @email</h2>
    <h3>Favorite book: @favoriteBook</h3>
    <br>
    <br>
    <a asp-controller="Account" asp-action="Edit" class="btn btn-primary">Edit profile</a>
    </div>
   
}

else 
{<!-- Ef notandi er ekki innskráður keyrist þessi kóði-->
    <h1>You are not logged in.</h1>
    <h2>Please <a asp-controller="Account" asp-action="Login">log in</a> or <a asp-controller="Account" asp-action="Register">register</a> to view profile</h2>
}
</body>