@model BookCave.Models.ViewModels.RegisterViewModel
    <div class="regInfo borderClass" id="background">
        <h1>Register</h1>

            <div id="Register">
                <form class="border border-dark"  asp-action="Register" asp-controller="Account" class="form-horizontal">
                    <fieldset>
                        <legend>User info</legend>
                        <!--Er ekki hægt að hafa fullt nafn í einu texta boxi?-->
                        <div class="form-group">
                            <label for="fName">Full name: </label>
                            <input id="fName" type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name"/>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-Email">Email: </label>
                            <input id="input-Email" type="email" asp-for="Email" class="form-control" placeholder="Enter email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-Address">Address: </label>
                            <input id="input-Address" type="text" asp-for="Address" class="form-control" placeholder="Enter address"/>
                        </div> 
                        <div class="form-group">
                            <label for="input-Image">Image: </label>
                            <input id="input-Image" type="text" asp-for="Image" class="form-control" placeholder="Enter URL for image"/>
                        </div>
                        <div class="form-group">
                            <label for="input-favoriteBook">Favorite Book: </label>
                            <input id="input-favoriteBook" type="FavoriteBook" asp-for="FavoriteBook" class="form-control" placeholder="Enter your favorite book"/>
                        </div>  

                        <!--<div class="form-group">
                            <label for="User">UserName: </label>
                            <input id="User" type="text" asp-for="Username" class="form-control" placeholder="Enter username"/>
                            <span asp-validation-for="UserName"></span>
                        </div>-->
                        <div class="form-group">
                            <label for="Password">Password: </label>
                            <input id="Password" type="password" asp-for="Password" class="form-control" placeholder="Enter password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!--<div class="form-group">
                            <label for="confirm-password">Confirm password: </label>
                            <input type="password" name="confirm_password" id="confirm-password" />
                            <span id='message'></span>
                        </div>-->
                        <!--
                            jQuary-confirm password

                            $('#password, #confirm_password').on('keyup', function () {
                            if ($('#password').val() == $('#confirm_password').val()) {
                                $('#message').html('Matching').css('color', 'green');
                            } 
                            else 
                                $('#message').html('Not Matching').css('color', 'red');
                            });

                            HTML:
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <label>password :
                            <input name="password" id="password" type="password" />
                            </label>
                            <br>
                            <label>confirm password:
                            <input type="password" name="confirm_password" id="confirm_password" />
                            <span id='message'></span>
                            </label>

                            Javascritp-confirm password

                            var check = function() {
                                if (document.getElementById('password').value ==
                                document.getElementById('confirm_password').value) {
                                    document.getElementById('message').style.color = 'green';
                                    document.getElementById('message').innerHTML = 'matching';
                                } 
                                else {
                                document.getElementById('message').style.color = 'red';
                                document.getElementById('message').innerHTML = 'not matching';
                                }
                            }

                            HTML:
                            <label>password :
                            <input name="password" id="password" type="password" onkeyup='check();' />
                            </label>
                            <br>
                            <label>confirm password:
                            <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' /> 
                            <span id='message'></span>
                            </label>
                        -->
                        <div class="form-group">
                            <input type="checkbox" id="TermsAndAgreement" asp-for="TermsAndAgreement">
                            Check the box to accept the <strong>Terms of service</strong>.
                            <span asp-validation-for="TermsAndAgreement" class="text-warning" ></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Register</button>
                            <a asp-action="FrontPage" asp-controller="Home" class="btn btn-default">Back</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>    

<div id="terms-of-service" class="borderClass mergBottom">
    <fieldset>
        <legend><h1>Website Terms and Conditions of Use</h1></legend>

<h2>1. Terms</h2>

<p>By accessing this Website, accessible from Bookcave.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

<h2>2. Use License</h2>

<p>Permission is granted to temporarily download one copy of the materials on Bookcave's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

<ul>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on Bookcave's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
</ul>

<p>This will let Bookcave to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

<h2>3. Disclaimer</h2>

<p>All the materials on Bookcave’s Website are provided "as is". Bookcave makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Bookcave does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

<h2>4. Limitations</h2>

<p>Bookcave or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Bookcave’s Website, even if Bookcave or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

<h2>5. Revisions and Errata</h2>

<p>The materials appearing on Bookcave’s Website may include technical, typographical, or photographic errors. Bookcave will not promise that any of the materials in this Website are accurate, complete, or current. Bookcave may change the materials contained on its Website at any time without notice. Bookcave does not make any commitment to update the materials.</p>

<h2>6. Links</h2>

<p>Bookcave has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Bookcave of the site. The use of any linked website is at the user’s own risk.</p>

<h2>7. Site Terms of Use Modifications</h2>

<p>Bookcave may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

<h2>8. Governing Law</h2>

<p>Any claim related to Bookcave's Website shall be governed by the laws of is without regards to its conflict of law provisions.</p>

<p><a href="https://termsofservicegenerator.net">These Terms and Conditions have been created at World's Free Terms Of Service Generator.</a></p>
    </fieldset>
</div>
