@model BookCave.Models.ViewModels.RegisterViewModel
    <div class="regInfo borderClass" id="background">
        <h1>Register</h1>

            <div id="Register">
                <form class="border border-dark"  asp-action="Register" asp-controller="Account" class="form-horizontal">
                    <fieldset>
                        <legend>User info</legend>
                        <!--Er ekki hægt að hafa fullt nafn í einu texta boxi?-->
                        <div class="form-group">
                            <label for="fName">First name: </label>
                            <input id="fName" type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name"/>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="lName">Last Name: </label>
                            <input id="lName" type="text" asp-for="LastName" class="form-control" placeholder="Enter last name"/>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-Email">Email: </label>
                            <input id="input-Email" type="email" asp-for="Email" class="form-control" placeholder="Enter email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="input-Address">Address: </label>
                            <input id="input-Address" type="text" asp-for="Address" class="form-control" placeholder="Enter address"/>
                        </div> 
                        <div class="form-group">
                            <label for="input-Image">Image: </label>
                            <input id="input-Image" type="text" asp-for="Image" class="form-control" placeholder="Enter URL for image"/>
                        </div>
                        <div class="form-group">
                            <label for="input-favoriteBook">Favorite Book: </label>
                            <input id="input-favoriteBook" type="FavoriteBook" asp-for="FavoriteBook" class="form-control" placeholder="Enter your favorite book"/>
                        </div>  

                        <!--<div class="form-group">
                            <label for="User">UserName: </label>
                            <input id="User" type="text" asp-for="Username" class="form-control" placeholder="Enter username"/>
                            <span asp-validation-for="UserName"></span>
                        </div>-->
                        <div class="form-group">
                            <label for="Password">Password: </label>
                            <input id="Password" type="password" asp-for="Password" class="form-control" placeholder="Enter password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!--<div class="form-group">
                            <label for="confirm-password">Confirm password: </label>
                            <input type="password" name="confirm_password" id="confirm-password" />
                            <span id='message'></span>
                        </div>-->
                        <!--
                            jQuary-confirm password

                            $('#password, #confirm_password').on('keyup', function () {
                            if ($('#password').val() == $('#confirm_password').val()) {
                                $('#message').html('Matching').css('color', 'green');
                            } 
                            else 
                                $('#message').html('Not Matching').css('color', 'red');
                            });

                            HTML:
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <label>password :
                            <input name="password" id="password" type="password" />
                            </label>
                            <br>
                            <label>confirm password:
                            <input type="password" name="confirm_password" id="confirm_password" />
                            <span id='message'></span>
                            </label>

                            Javascritp-confirm password

                            var check = function() {
                                if (document.getElementById('password').value ==
                                document.getElementById('confirm_password').value) {
                                    document.getElementById('message').style.color = 'green';
                                    document.getElementById('message').innerHTML = 'matching';
                                } 
                                else {
                                document.getElementById('message').style.color = 'red';
                                document.getElementById('message').innerHTML = 'not matching';
                                }
                            }

                            HTML:
                            <label>password :
                            <input name="password" id="password" type="password" onkeyup='check();' />
                            </label>
                            <br>
                            <label>confirm password:
                            <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' /> 
                            <span id='message'></span>
                            </label>
                        -->
                        <div class="form-group">
                            <p>By creating an account you agree to our <strong>Terms of service</strong>.</p>
                            <input type="checkbox" id="TermsAndAgreement" asp-for="TermsAndAgreement" class="form-control" value="false">
                            <span asp-validation-for="TermsAndAgreement" class="text-warning" ></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>    

<div id="terms-of-service" class="borderClass mergBottom">
    <fieldset>
        <legend>Terms of service</legend>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat erat molestie, suscipit justo ut, accumsan sem. Proin vitae luctus metus. Nullam accumsan, quam vitae aliquet lacinia, libero turpis finibus nibh, id rutrum nibh nisi a dui.
            Etiam gravida sit amet lorem vitae vulputate. Duis id facilisis mauris. Quisque iaculis ligula est, sit amet aliquam enim iaculis sed. Nulla ultrices dictum nulla sed dictum. Integer et arcu quis velit tempus dapibus.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi sagittis ipsum non diam viverra sagittis. Vestibulum mauris massa, viverra et ullamcorper sed, mattis eget nunc. Nam at porta lacus. 
            Suspendisse hendrerit nec libero eget facilisis. Sed eu odio in sapien accumsan pulvinar. Vestibulum non lectus sed risus suscipit lacinia. Proin rutrum urna felis, eu interdum augue euismod sed. Quisque odio arcu, laoreet et neque quis, mattis tincidunt mauris.
            Aliquam sed est tempor purus pulvinar consequat non vel neque. Maecenas fermentum est magna, in iaculis lorem euismod eu. Sed nec nulla nec urna consequat tincidunt sit amet quis augue. Vestibulum nunc enim, aliquet vitae tincidunt vel, porttitor nec lacus. 
            Aenean elementum erat justo, in facilisis dolor varius sed. Phasellus ut purus eget mauris vulputate pharetra luctus non ante. Aenean vitae leo ac nisi tincidunt convallis. Aenean luctus porttitor luctus. Nulla mattis aliquam tincidunt.
        </p>
    </fieldset>
</div>
