@model BookCave.Models.ViewModels.OrderDetailsViewModel

<h1>Current items in cart</h2>
<ul>

{
    <li>

        <button asp-controller="Order" asp-action="Delete">Delete item</button>
    </li>
} 

</ul>
<form asp-controller="Order" asp-action="Shipping">
    <button type="submit">Process order</button>
</form>