@model BookCave.Models.ViewModels.OrderDetailsViewModel
<!-- Model sem á að nota er  -->

<h2>Reviewing your order</h2>

<h3>Books</h3>
@foreach(var books in Model.Books)
{
    @book.Title
    @book.Image
}
<h2>Shipping Information</h2>
<!-- Náðum ekki að tengja saman við View -->

<h2>Billing information</h2>
<!-- Náðum ekki að tengja saman við View -->
Card number: xxxx-xxxx-xxxx

<a asp-action=""><button>Buy</button></a>