<h2>Please enter your shipping inormation here</h2>

<form method="GET">
    <div>
        <label>Full name</label>
        <input type="text" placeholder="Please enter your full name" class="form-control">
    </div>

    <div>
    <select class="form-control">
        <option value="Country1">Country1</option>
    </select>
    </div>

    <div>
        <label>City</label>
        <input type="text" placeholder="City"class="form-control">
    </div>
    
    <div>
        <label>Adress</label>
        <input type="text" placeholder="Adres"class="form-control">
    </div>
        <div>
        <label>Zip code</label>
        <input type="text" placeholder="Zip code"class="form-control">
    </div>
        <div>
        <label>Phone number</label>
        <input type="number" placeholder="Please enter your phone number"class="form-control">
    </div>
    <button class="btn btn-danger">Confirm</button>
</form>
<a asp-controller="Order" asp-action="Cart">Go back</a>