.banner
{
  border-bottom: 1px solid black;
  margin-left: 210px;
  margin-right: 250px;

  background-color: rgba(255, 0, 0, 0.3);
}
.background
{
  background-color: rgba(234, 105, 131, 0.29);
  border: 1px solid black;
}
.ulList
{
  list-style-type: none;
  padding-top: -40px
}
.liList
{
  display: inline;
  padding: 120px;
}
.footer
{
  clear: both;
  margin-left: 210px;
  margin-right: 260px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(234, 105, 131, 0.29);
}
#footCon{
  text-indent: 100px;
  padding-right: 30px;
  float: right;
}
#footAbo{
  text-indent: 100px;
  padding-right: 30px;
  float: right;
}
#footAgg{
  text-indent: 100px;
  padding-right: 30px;
  float: right;
}
.Aggremento
{
  margin-left: 210px;
  margin-right: auto;
  float: left;
  border: 1px solid black;
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 90px;
  margin-bottom: 90px;
}
fieldset
{
  text-align: justify;
}
p
{
  text-align: justify;
}
legend
{
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  padding-top: 180px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='submit']
{
  margin-top: 10px;
}
.content
{
  display: inline;
}
#appl
{
  float: right;
  margin-right: 250px;
  border: 1px solid black;
  padding: 5px 95px 16px 125px;
  margin-top: 90px;
  margin-bottom: 90px;
}
