@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="Information">
<p>
    Lorem ipsum dolor sit amet, cum noluisse interesset ex, aeterno assentior cum ne. Bonorum postulant ad eos. Cu vix propriae hendrerit. Sit case consul possit et, nam in vidit commune. Possit fierent liberavisse vel ei.
</p>
    Vix id nostro denique aliquando. Posse nostrum copiosae ei pro. Ut elit petentium sea, eos in vocent malorum conclusionemque. Te vim referrentur suscipiantur, liber temporibus mea ex, mea eligendi petentium molestiae te.
<p>
    Latine constituam eu sed, qui mutat conceptam ad, ne vidit error tantas vis. Eum ex partem deserunt contentiones, cu mandamus interpretaris sit. Mollis placerat lucilius an per. Nihil quaerendum pro an.
</p>
<p>
    Te dicta deseruisse voluptatibus mel, eirmod inermis an his. Te prima quaerendum sed. Est accusamus omittantur voluptatibus ex, quo ad debet doming conclusionemque. Has ei porro maiorum constituto, sed ei cetero praesent. Delicata sententiae neglegentur ne has, at mutat omnium duo.
</p>
<p>
    Cu cum pericula hendrerit delicatissimi, at tale expetendis reformidans ius. Dico semper eos cu, in ullum inciderint his. Commune consequat concludaturque vix no. No vis vide conceptam, id vel velit intellegebat, an paulo diceret interesset eam.
</p>
<p>
    Cu idque mentitum nam. Inani essent scripta an pro, eam ea deserunt corrumpit. Propriae fabellas ius ea, no has quis corpora molestie. Cibo appellantur per an, ad sed novum comprehensam.
</p>
<p>
    Pri quidam percipit consetetur eu, propriae pertinax qui in. In his noster laboramus, mei ad sale veritus accusam. Quo ne debet quando appareat. Nec eu expetendis vituperata philosophia. Timeam constituam eu his, doctus eruditi pro at, impetus epicurei id eos. Omittam honestatis in pri, eu apeirian adolescens pro, id vix appareat reprimique.
</p>
</div>