@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Message"]</h3>
<div class="borderClass margBottom abot">
    <h2>@ViewData["Title"]</h2>
    <p>
    <div class="aboutFloating">
        <h3><a href="mailto:bjorn16@ru.is">Björn Dan Karlsson</a> - HTML/CSS Designer </h3>
        <h3><a href="mailto:fjola17@ru.is">Fjóla Sif Sigvaldadóttir</a> - Controller Designer </h3>
        <h3><a href="mailto:hlynurv16@ru.is">Hlynur Víðisson</a> - HTML/CSS Designer</h3>
        <h3><a href="mailto:vidars17@ru.is">Viðar Sigurðsson</a> - Database Designer </h3>
    </div>
    <img class="aboutPic" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/31947046_10210899971925494_8416890290924683264_n.png?_nc_cat=0&oh=1dfd8d160787f9e9c33d659f06a1e789&oe=5B909CF3"
             alt="Logoid"/>
   <br>
   <h2>Welcome to Bookcave!</h2>

<h2>Starting as a small business in a cave of the shore of Stokkseyri in the year 2018, we have big dreams. Our passion for selling books worldwide, means that we provide our customers nothing but the highest quality of products, that are guaranteed to meet their needs and keep them satisfied!
With a motivated team, we strive to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.</h2>

<h2>Shipping Information Page</h2>
    <h2>Disclaimer</h2>
   <h3>This is a school project done by first year Comp-Sci students at Reykjavík University, nothing on this webside will be used for commercial purposes
       and all elements on this webside is not owned by the makers.
   </h3>
   
    
</div>