@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Message"]</h3>
<div class="borderClass margBottom">
    <h2>@ViewData["Title"]</h2>
    <p>
   <h3>Björn Dan Karlsson - HTML/CSS Designer </h3>
   <h3>Fjóla Sif Sigvaldadóttir - Controller Designer </h3>
   <h3>Hlynur Víðisson - HTML/CSS Designer</h3>
   <h3>Viðar Sigurðsson - Database Designer </h3>
   
    
</div>