<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Book Cave</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="background">
    <div class="banner">
      <a href="#home"><img id="logo" src="logo.png" alt="logo"/></a>
      <ul class="ulList">
        <form action="index.html" method="post">
          <li class="liList"><select name="menu">
            <option value="menu"> Menu </option>
            <option value="2"> 2 </option>
          <option value="3"> 3 </option>
          <option value="4"> 4 </option>
        </select>
          </li>
          <li class="liList">
            <label for="search">
          <input id="search" type="text" placeholder="Search">
          <button class="btn btn-default btn-sm" type="submit">Search</button>
        </li>
        <li class="liList"><a class="login" href="#">Login</a></li>
        <li class="liList"><a href="#" class="btn btn-default btn-sm">
          <span class="glyphicon">&#xe116;</span> Shopping Cart
        </a></li>
      </form>
    </ul>
  </div>
  <div class="content">
    <table class="nytt">
      <tr>
        <th id="littleBit2">New Releases</th>
      </tr>
      <tr id="newBooks">
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
      </tr>
      <tr>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
      </tr>
      <tr>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
      </tr>
    </table>
    <table class="topRated">
      <tr>
        <th>Top Rated Books</th>
      </tr>
      <tr id="ratedBooks1">
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
      </tr>
      <tr>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
      </tr>
      <tr>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
      </tr>
      <tr id="ratedBooks2">
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
      </tr>
      <tr>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
      </tr>
      <tr>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
      </tr>
    </table>
    <table class="topRated">
      <tr>
        <th id="littleBit">Top Sellers</th>
      </tr>
      <tr id="sellOut1">
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
      </tr>
      <tr>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
      </tr>
      <tr>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
      </tr>
      <tr id="sellOut2">
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
        <td><img class="cover" src="bookcover.jpg" alt="bookcover"/></td>
      </tr>
      <tr>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
        <td class="titleBook">Book Title</td>
      </tr>
      <tr>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
        <td class="priceBook">Book price</td>
      </tr>
    </table>
  </div>
  <div>
    <footer class="footer">
      <a id="footCon" href="#contact">Contact</a><br>
      <a id="footAbo" href="#about">About us</a><br>
      <a id="footAgg" href="#aggrement">User agreement</a><br>
    </footer>
  </div>
</div>

</body>
</html>
