@model List<BookCave.Models.ViewModels.BookViewModel>
    <div class="content">
      <h2>New Releases</h2>
        <ul id="newBooks">
        @foreach(var b in Model)
        {
          <li><a href="#"><img src="@b.CoverImage" alt="CoverImage" height="170px" width="auto" /><a/><br>
          <a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a><br>
          Price: @b.Price
          </li>
        }
        </ul>
      
    </div>