@model List<BookCave.Models.ViewModels.BookViewModel>
    <div class="content">
      <h2>New Releases</h2>
      <div id="booklist">
        <ul id="newBooks">
        @foreach(var b in Model)
        {
          <li><div id="covImg"><a href="#"><img src="@b.CoverImage" alt="CoverImage" height="170px" width="auto" /><a/></div><br>
          <div id="titlBook"><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id"><p class="bookTitle">@b.Title</p></a></div><br>
          <div id="priceBook">Price: @b.Price</div>
          </li>
        
        }
        </ul>
      </div>
      
    </div>