@model List<BookCave.Models.ViewModels.BookViewModel>


  <body class="background">
    <div class="content">
      <h2>New Releases</h2>
        <table id="newBooks">
        @foreach(var b in Model)
        {
          <tr><a href="#"><img src="@b.CoverImage" alt="CoverImage" height="170px" width="auto" /><a/></tr><br>
          <tr><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></tr><br>
          <tr>@b.Price</tr><br>
        }
        </table>

  
    </div>
  </body>