@{
    ViewData["Title"] = "Delivery Info -";
}
<h2 class="contacClass">Delivery Information</h2>
<div class="Information borderClass">   
    <h4>
            <strong>Shipment processing time</strong><br>
            All orders are processed within 2-3 business days. Orders are not shipped or delivered on
            weekends or holidays. <br>
            If we are experiencing a high volume of orders, shipments may be delayed by a few days. <br>
            Please allow additional days in transit for delivery. If there will be a significant delay in shipment of your<br>
            order, we will contact you via email or telephone.<br>
            <br>
            <br>
            <br>
            <br>
            <strong>Damages</strong><br>
            BookCave is not liable for any products damaged or lost during shipping. If you<br>
            received your order damaged, please contact the shipment carrier to file a claim.<br>
            Please save all packaging materials and damaged goods before filing a claim.<br>
            <br>


        <br>
    </h4>
</div>
