<div class="Information borderClass">
    <h2>Shipping information</h2>
    <p>
        Lorem ipsum dolor sit amet, mel habeo utamur eu, mei saperet dissentias ne. Pri no velit persius tincidunt,<br>
        aperiri prompta lucilius vim at, stet aperiri nec ne. Suas molestie dissentias mel ei, ne nec quem evertitur. <br>
        Vim graece postea integre cu, solet maluisset prodesset vis et, eos ea utinam complectitur.<br>
        Ut idque appareat qui, ex vis debet zril vivendum. Eos labores vocibus detracto ad, has ex lorem platonem salutatus.<br>
        His in magna fabulas dolorem, in has quidam moderatius omittantur. Ut quo paulo facilisis, quando partem legimus eam ad, <br>
        eos modus vitae ei. Eos tale eripuit ad, eu vis partem nullam constituto.<br>
        Per utroque meliore quaerendum no, ea euismod verterem mei, at has detracto concludaturque.<br>
        Cum ea quas utinam. Dico enim commodo no qui, nam no fugit principes. Ei fugit iisque voluptua per. Eirmod pertinacia mel an,<br>
        ex errem tritani eos.<br>
        Et nam animal propriae adolescens. Ea tota magna vocibus vel. Oblique maiorum fabellas ut nam, id dolor salutatus duo, mollis voluptua id eos.<br>
        Nostrum qualisque reformidans sea te, eam ea mutat veritus nominati.<br>
        uo eu hinc atqui, duo ut adipiscing voluptatum omittantur, graeco animal quaerendum nec eu. Semper dictas concludaturque cu qui, <br>
        an elit dolore blandit quo. Brute debitis oportere eos ex, ad has sumo justo. Usu an altera delectus, ea zril legimus vim. <br>
        His ignota oportere consectetuer ex, et vix purto malis. Integre aliquam ad vix.<br>
        <br>
    </p>
</div>
