<div class="Information">
    <h2>Shipping information</h2>
    <p>
        Lorem ipsum dolor sit amet, mel habeo utamur eu, mei saperet dissentias ne. Pri no velit persius tincidunt, aperiri prompta lucilius vim at, stet aperiri nec ne. Suas molestie dissentias mel ei, ne nec quem evertitur. Vim graece postea integre cu, solet maluisset prodesset vis et, eos ea utinam complectitur.
    </p>
</div>
