@model List<BookCave.Models.ViewModels.BookViewModel>

@foreach (var books in Model)
{
    <p class="book-image"><img src="@books.CoverImage" alt="book image"><br>
    Title: <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">@books.Title</a><br>
    Price: @books.Price</p>
    <button class="btn cart">Add to cart</button>
}