@model List<BookCave.Models.ViewModels.BookViewModel>

@foreach (var books in Model)
{
    <p><img src="@books.CoverImage" alt="book image"><br>
    Title: @books.Title<br>
    Price: @books.Price</p>
}