@model List<BookCave.Models.ViewModels.BookViewModel>

    <h1 class="filterHead">@Model[0].Genre</h1>
    <div class="searchItem borderClass">
    @foreach (var books in Model)
    {
        <li> 
                <p class="book-image"><img src="@books.CoverImage" alt="book image" height="300" width="210"><br>
                Title: <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id">@books.Title</a><br>
                Price: $@books.Price</p>
                <button class="btn cart">Add to cart</button>
            </li>
    }
    </div>
