body {
  color: #1a4db9;
  font-family: Helvetica;
  line-height: 24px;
}
.background
{
  background-color: rgba(99, 99, 235, 0.6);
}
.borderClass
{
  border-style: ridge;
  border-color: blue;
  border-width: 5px;
  background-color: rgb(199, 194, 194, 0.6);
}
.margBottom{
  margin-bottom: 350px;
  margin-left: 400px;
  margin-right: 400px;
}
.information
{
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 200px;
}
.genreItem
{
  display: inline
}
.filterHead
{
  margin-left: 850px;
}
.loginTop
{
  margin-left: 850px;
}
.fitting
{
  margin-left: 80px;
  margin-right: 80px;
}
#newBooks
{
  margin-top: 30px;
  padding-bottom: 50px;
}
#booklist
{
  overflow: hidden;
}
#profileInfo
{
  margin-left: 280px;
  padding-right: 120px;
  
}
.bookTitle{
  max-width: 160px;
}
.profile
{
  float: left;
  margin-left: 150px;
  padding: 20px 70px 175px 40px ;
  
}
#profileIMG
{
  margin-right: 100px;
  margin-bottom: 100px;
}
#Floating
{
  padding-right: 30px;
}
.content
{
  display: inline-block;
}
.profile img
{
  float: left;
}
.input-group-btn button
{
  padding: 10px 14px 9px 10px;
}
.log
{
  padding: 20px 20px 5px 20px;
  border-style: ridge;
  border-color: blue;
  border-width: 10px;
  margin-bottom: 200px;
  margin-right: 400px;
  margin-top: 100px;
}
.regInfo
{
  margin-left: 300px;
  margin-right: 300px;
}
#head-details
{
  padding: 30px;
  padding-left: 40px;
  padding-bottom: 200px;
}
#reviewPart
{
  margin-left: 700px;
}
#textPart
{
  margin-right: 800px;
}
#shopbtn
{
  margin-top: 10px;
}
#imageFloat
{
  float: left;
  margin-bottom: -100px;
  
}

#res
{
  padding-bottom: 8px;
}
.content h2
{
  text-align: center;
  position: relative;
}
.content ul
{
  display: inline-block;
}
.content li
{
  display: inline-block;
  padding-top: 20px;
  padding-left: 60px;
  list-style-type: none;
  font-size: 18px;
}
#Front
{
  margin-left: 80px;
}
#Front li
{
  border-left: 1px solid whitesmoke;
  margin-bottom: 30px;
}
.searchItem
{
  border-style: ridge;
  border-color: blue;
  border-width: 5px;
  background-color: rgb(199, 194, 194);
  margin-left: 30px;
  margin-right: 91px;
  padding-bottom: 30px;
}
.Moving
{
  margin-left: 100px;
}
.Moving2
{
  margin-left: 180px;
  margin-right: 190px;
}
.TOPP h1
{
  margin-left: 850px;
}
.addressInfo1
{
  display: grid;
  margin-left: 700px;
  padding-right: 400px;

}
.aboutSite
{
  margin-left: 40px;
  margin-right: 40px;
}
.contactInfo
{
  margin-bottom: 200px;
  padding-left: 100px;
  padding-right: 1000px;
}
#Message
{
  margin-right: 300px;
  width: 350px;
  height: 300px;
}
.searchItem h1
{
  margin-left: 500px;
}
.searchItem li
{
  display: inline-block;
  border-left: 1px solid whitesmoke;
  margin-bottom: 30px;
  list-style-type: none;
  padding: 30px;
}
#description
{
  padding-left: 940px;
}
#terms-of-service
{
  padding: 20px 40px 20px 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: ridge;
  border-color: blue;
  border-width: 10px;
}
#Register
{
  
  margin-right: 400px;
  padding-left: 50px;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#footCon:hover, #footAbo:hover, #footAgg:hover
{
  color: red;
}
th
{
  margin-right: 800px;
}
td
{
  clear: both;
  padding-bottom: 100px;
  padding-top: 100px;
}
h1
{
  margin-left: 15px;
}
/* Header */
.nav 
{
  font-size: 20px;
}
.header
{
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(5, 190, 5, 0.26);
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.header ul
{
  padding-bottom: -125px;
  padding-left: 20px;

}
/*Footer*/
#footer-Section
{
  margin-top: 80px;
}
.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
  
}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
  margin-left: -10px;
}

.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
} 
.footer-top-layout {
  color: #ffffff;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}