/* Class elements begin here */
.background
{
  background-color: rgba(99, 99, 235, 0.6);
}
.borderClass
{
  border-style: ridge;
  border-color: blue;
  border-width: 5px;
  background-color: rgb(199, 194, 194, 0.6);
}
.margBottom
{
  margin-bottom: 350px;
  margin-left: 400px;
  margin-right: 400px;
}
.margBottom h3
{
  margin-left: 50px;
}
.Information
{
  margin-top: 60px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 150px;
}
.genreItem
{
  display: inline
}
.filterHead
{
  margin-left: 850px;
}
.loginTop
{
  margin-left: 850px;
}
.fitting
{
  margin-left: 80px;
  margin-right: 80px;
}
.bookTitle
{
  max-width: 160px;
}
.profile
{
  float: left;
  margin-left: 50px;
  padding: 20px 70px 131px 40px ;
}
.profile img
{
  float: left;
  height: 350px;
  width: auto;
}
.input-group-btn button
{
  padding: 10px 14px 9px 10px;
}
.log
{
  padding: 20px 20px 5px 20px;
  margin-bottom: 200px;
  margin-right: 500px;
  margin-top: 100px;
  margin-left: 500px;
}
.regInfo
{
  margin-left: 400px;
  margin-right: 400px;
}
.margEdit
{
  margin: 80px 400px 150px 400px;
  padding: 40px 40px 30px 40px;
}
.searchItem
{
  background-color: rgb(199, 194, 194);
  margin-left: 30px;
  margin-right: 91px;
  padding-bottom: 30px;
}
.Moving
{
  margin-left: 100px;
}
.Moving2
{
  margin-left: 180px;
  margin-right: 190px;
}
.addressInfo1
{
  margin-left: 270px;
  margin-right: 200px;
  margin-bottom: 175px;
  padding-left: 50px;
  padding-bottom: 180px;
}
.addressInfo1 form
{
  float: left;
}
.addressInfo1 address
{
  margin-right: 50px;
}
.contacClass
{
  margin-left: 800px;
}
.aboutSite
{
  margin-left: 100px;
  margin-right: 100px;
}
.contactInfo
{
  margin-bottom: 200px;
  padding-left: 100px;
  padding-right: 1000px;
}
.searchItem h1
{
  margin-left: 500px;
}
.searchItem li
{
  display: inline-block;
  border-left: 1px solid whitesmoke;
  margin-bottom: 30px;
  list-style-type: none;
  padding: 30px;
}
.notFoundClass
{
  clear: both;
  padding: 40px 0px 100px 50px;
  margin-right: 40px;
  margin-bottom: 50px;
}
.displayClass
{
  display: inline;
}
.notFoundImage
{
  float: left;
  height: 700px;
  width: auto;
  margin-left: 300px;
}
/* Class elements begin here */
/* ID elements begin here */
#shopBtn a
{
  font-size: 20px;
}
#profileInfo
{
  margin-left: 280px;
  padding-right: 120px;
}
#profileIMG
{
  margin-right: 100px;
  margin-bottom: 100px;
}
#Floating
{
  padding-right: 30px;
}
#head-details
{
  padding: 30px;
  padding-left: 40px;
  padding-bottom: 200px;
}
#reviewPart
{
  margin-left: 700px;
}
#textPart
{
  margin-right: 800px;
}
#imageFloat
{
  float: left;
  margin-bottom: -100px;
}
#res
{
  padding-bottom: 2px;
}
#Front
{
  margin-left: 80px;
}
#Front h1
{
  margin-left: 770px;
}
#Front li
{
  border-left: 1px solid whitesmoke;
  margin-bottom: 30px;
}
#Message
{
  margin-right: 300px;
  width: 350px;
  height: 300px;
}
#description
{
  padding-left: 940px;
}
#terms-of-service
{
  padding: 20px 40px 20px 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#Register
{
  margin-right: 100px;
  padding-left: 50px;
}
#footCon:hover, #footAbo:hover, #footAgg:hover
{
  color: red;
}
/* ID elements ends here */
/*Footer exclusive parts*/
#footer-Section
{
  margin-left: -100px;
  margin-top: 80px;
}
.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
  
}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
  margin-left: -10px;
}

.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
} 
.footer-top-layout {
  color: #ffffff;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: whitesmoke;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom-layout {
  text-align: center;
}
.copyright-tag
{
  color: white;
}
/* Footer ends here */
/* Header */
.nav 
{
  font-size: 20px;
}
.header
{
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(5, 190, 5, 0.26);
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.header ul
{
  padding-bottom: -125px;
  padding-left: 20px;

}
.cartClass
{
  padding-bottom: 400px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
}
/*Header ends here*/